@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body{
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(15.74deg, rgba(46, 45, 102, 0.6) -2.5%, rgba(58, 39, 63, 0.6) 47.55%, #181818 90.7%);
}
.border-custom{
  background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
}
