@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body{
  font-family: 'Manrope', sans-serif;
  background: linear-gradient(0deg, rgba(25,24,26,1) 0%, rgba(31,26,32,1) 23%, rgba(39,28,41,1) 49%, rgba(37,31,51,1) 76%, rgba(35,31,60,1) 100%);
}
.border-custom{
  background: linear-gradient(95.91deg, #665AEF 6.04%, #FC364C 88.42%);
}
.img-full span {
  width: 100% !important;
}
.scroll-custom{

}
/* width */
.scroll-custom ::-webkit-scrollbar {
  width: 6px;
  border-radius: 25px;
}

/* Track */
.scroll-custom ::-webkit-scrollbar-track {
  border: 1px solid rgba(86, 86, 86, 0.2); 

}
 
/* Handle */
.scroll-custom ::-webkit-scrollbar-thumb {
  background: #1C1C1C;
  border: 1px solid #565656;
  border-radius: 100px;
  width: 6px;
}

/* Handle on hover */
.scroll-custom ::-webkit-scrollbar-thumb:hover {
  background: #1C1C1C; 
}
@media (min-width: 1440px){
  .container {
      max-width: 1440px;
  }
}
